body {
    background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        position: relative;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  
  
  h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: Courier New;
    font-weight: bold;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: Courier New;
    font-weight: bold;
    margin: auto;
    width: 70%;
    padding: 10px;
    top: 20px;
   right: 0;
  }
  
  
   p {
    font-family:Helvetica;
    font-size: 20px;
    margin: auto;
    width: 70%;
    padding: 10px;
    color: white;
    top: 5px;
    bottom: 120px;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .gallery {
    display: flex; /* Utilisation de Flexbox pour une disposition flexible */
    flex-wrap: wrap; /* Permettre à la galerie de s'enrouler sur plusieurs lignes */
    gap: 10px; /* Espacement entre les éléments de la galerie */
    padding: 10px; /* Marge intérieure */
    background-color: #f5f5f5; /* Couleur de fond pour le conteneur de la galerie */
}

/* Style des éléments de la galerie */
.gallery-item {
    flex: 1 1 200px; /* Chaque élément occupe un espace minimum de 200px */
    border: 2px solid #ddd; /* Bordure autour des éléments de la galerie */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); /* Ombre pour un effet 3D */
    transition: transform 0.3s; /* Transition pour l'animation */
}

.gallery-item img {
    width: 100%; /* L'image prend toute la largeur de l'élément */
    height: auto; /* L'image garde ses proportions */
    border-radius: 10px; /* Coins arrondis pour un aspect plus esthétique */
}

.gallery-item:hover {
    transform: scale(2); /* Agrandissement au survol pour l'effet visuel */

}
.video-container {
    text-align: center; /* Aligner le contenu au centre horizontalement */
    width: 50%;
}

